body {
    background: #f5f6fa;
    font-family: 'Poppins', sans-serif;
}

.bg-gradient {
    background: linear-gradient(90deg, #141E30, #243B55);
}

.navbar-brand {
    font-weight: 600;
    color: #ffce00 !important;
}

.btn-outline-primary:hover,
.btn-outline-success:hover,
.btn-outline-secondary:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

footer {
    background-color: #141E30;
}
